POSTGRES_HOST=covid-19-db-dev
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=covid19
POSTGRES_LOGGING=false
PORT=8080
LOGGER_MIN_LEVEL=debug
DEFAULT_PAGINATION=20
MOMENT_TIMEZONE='America/Buenos_Aires'
SECRET='top-secret-env'
EXPIRATION_UNIT_ACCESS_TOKEN='minutes'
EXPIRATION_UNIT_REFRESH_TOKEN='hours'
EXPIRATION_UNIT_ID_TOKEN='minutes'
EXPIRATION_VALUE_ACCESS_TOKEN=15
EXPIRATION_VALUE_REFRESH_TOKEN=24
EXPIRATION_VALUE_ID_TOKEN=10
COVID_API_BASE='https://wuhan-coronavirus-api.laeyoung.endpoint.ainize.ai'
COVID_API_BRIEF_ENDPOINT='/jhu-edu/brief'
COVID_API_TIMESERIE_ENDPOINT='/jhu-edu/timeseries?onlyCountries=true&iso2='
COVID_API_LATEST_ENDPOINT='/jhu-edu/latest?onlyCountries=true&iso2='
